*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

body{
width:100%;
}

header{
width:100%;
height:57px;
background-color:#373737;
border-bottom:1px solid #545454;
}

.top{
width:59.44%;
margin:0 auto;
}

.logo{
width:8.62%;
height:57px;
background-color:#f26c4f;
position:relative;
}

.logo img{
position:absolute;
right:-11px;;
top:17.5px;
}

.logo p{
position:absolute;
right:-75px;
top:18px;
color:#FFFFFF;
}

.top-menu{
background-color:#474747;
width:59.44%;
margin:0 auto;
height:59px;
list-style-type:none;
}

.top-menu li{
padding:17px 0px;
margin:0px 20px;
display:inline-block;
color:#FFFFFF;
position:relative;
}

.top-menu  a:after{
content: '';
display: inline-block;
vertical-align: middle;
width: 1px;
height: 9px;
background:url(../images/images2/razdel.jpg) no-repeat 0 0;
position:relative;
}

.top-menu  li.active{
border-bottom:3px solid #f26c4f;
}

.pass{
position:absolute;
right:0;
}